@import './colors';
@import './media';

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #080e1dbd, #080e1dd3, #080e1dd3, #080e1dd3, #080e1dd3, #080e1dd3, #080e1dd9, #080e1de7, #080e1df6, #080e1dea, #080e1d), url('/images/mainIMG.png');
    background-color: #080e1d;
    background-repeat:no-repeat;
    background-size: 100% 112vh;
}

.container {
    width: 80%;
    max-width: 1900px;
    margin: 0 auto;
}

// ==============================================================

.header {
    display: flex;
    justify-content: center;
    
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--logo {
            width: 8vmax;
            img {
                max-width: 100%;
            }
        }

        &--options {
            display: flex;
            gap: 15px;
            align-items: center;

            select {
                background-image: url('/public/images/lang_img.png');
                background-color: $nav-lang-bg;
                background-repeat: no-repeat;
                background-size: 1.5em 1.5em;
                background-position-y: center;
                background-position-x: 5px;
                color: white;
                padding: .5em 1.8em;
                border-radius: 5px;
                font-size: .9rem;
            }

            &__lang {
                width: 9rem;
                height: 2.1rem;
            }
            
            &__btn {
                cursor: pointer;
                font-size: .9rem;
                padding: 0 1.5em;
                background-color: $sign-in-before;
                border: transparent;
                color: #ffffff;
                border-radius: 5px;
                transition: .3s;
                height: 2.1rem;

                &:hover {
                    background-color: $sign-in-after;
                }
            }
        }

    }
}
// ==============================================================
.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 8vmin;
    margin-top: 27px;

    &--content {
        gap: 10px;
        color: #ffffff;
        width: min(1000px, 100%);

        h1 {
            font-size: 5.5rem;
            font-weight: 800;
            line-height: 90px;
        }

        h2 {
            margin-top: 30px;
            font-size: 2rem;
        }

        
    }
    
    &--membership{
        
        border: 5px solid;
        margin-top: 55px;
        position: relative;
        background-color: #080e1d;
        gap: 15px;
        width: 85%;
        padding: 2em 2.6em;
        border-image: linear-gradient(to right, #D60814, #A50C1F, #920D33, #611149, #2B1561, #031A74, #0C2171, #17296E, #1A285F, #233371) 1;

        h3 {
            font-weight: 500;
            font-size: 1.3rem;
            color: white;
            margin-bottom: 15px;
        }

        div {
            display: flex;
            align-items: center;
        }

        
        &__input {
            position: relative;
            font-size: 1.2rem;
            padding: .7em 1em;
            width: min(25rem, 100%);
            border-radius: 5px;
            color: #ffffff;
            border: 1px solid #808080;
            background-color: #252525;
        }

        &__error {
            display: none;
            position: absolute;
            color: #ff0000;
            top: 85%;
            font-weight: 600;
            text-shadow: 1px 20px 15px #000000;
        }

        .erroractive {
            display: block;
        }
        
        &__btn {
            border-radius: 5px;
            border: transparent;
            cursor: pointer;
            font-size: 1.5rem;
            padding: .45em 1.3em;
            margin: 0 0 0 15px;
            color: #ffffff;
            background-color: #ff0000;
            transition: .3s;
            &:hover {
                background-color: #d32323;
            }
        }

    }

}

// Features====================================================
.feature
{
    background-color: #090626;
    border-radius: 15px;
    width: 80%;
    margin: 80px auto 200px auto;
    padding: 10px 0;

    .features {
        display: grid;

        &__content {
            display: flex;
            align-items: center;
            margin: 0 auto;
            width: 80%;
            color: #ffffff;
            border-bottom: 1px solid #808080;

            div {
                display: flex;
                flex-direction: column;
                gap: 25px;
            }

            h2 {
                font-size: 2.8rem;
                font-weight: 800;
            }

            h3 {
                font-weight: 100;
            }

            img {
                max-width: 100%;
            }

            &:nth-child(2) {
                div {
                    order: 2;
                }
            }

            &:nth-child(4) {
                div {
                    order: 1;
                }
                border-bottom: none;
            }
        }
    }
}

// ===============================================================

.faq {

    max-width: 64%;
    color: #ffffff;

    h2 {
        font-size: 2.6rem;
        margin-bottom: 15px;
    }
    
    .margin {
        margin-bottom: 5px;
    }

    .accordion {

        display: flex;
        flex-direction: column;
        gap: 5px;
        
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #142246;
            padding: 1.5em 2em;
            cursor: pointer;
            transition: .3s;
    
    
            h4 {
                font-size: 1.6rem;
            }
    
            span {
                font-size: 3rem;
            }

            
            &:hover {
                background-color: #223362;
            }
            
        }
        
        &__content {
            display: none;
            padding: 2em;

            p {
                font-size: 1.3rem;
            }

            background-color: #233371;
            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 5px;
            }
        }
          
          .accordion__item.active .accordion__content {
            display: block;
          }      
    }

}

// Footer============================================================

.footer {
    max-width: 64%;
    color: #ffffff;
    margin: 200px 0 150px 0;

    h4 {
        font-weight: 100;
        margin-bottom: 65px;
    }
    
    &--links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        h4 {
            margin-bottom: 15px;
            text-decoration: underline;
            cursor: pointer;
        }
        margin-bottom: 65px;
    }
}