html {

    @media (width <= 1000px) {
        font-size: 12px;
        body {
            background-size: 100% 51vh;
            .container {
                width: 90%;
            }
            .membership {
                padding: min(4%, 2.5em);
                h3 {
                    font-size: min(2rem, 3.5vmin);
                }
                &__error {
                    top: 60%;
                    font-size: min(2.5rem, 2vmin);
                }
                div {
                    display: grid;
                    gap: 30px;
                    input {
                        width: min(100%, 500px);
                        font-size: min(2.5rem, 2vmin);
                    }
                    button {
                        width: min(45%, 220px);
                        font-size: 2.5vmin;
                    }
                }
            }
            header {
                img {
                    width: 25vmin;
                }
                .navbar {
                    &--options {
                        &__lang {
                            font-size: min(1rem, 3vmin);
                        }
                        &__btn {
                            font-size: min(1.3rem, 3vmin);
                        }
                    }
                }
            }
            .hero {
                width: 90%;
                h1 {
                    font-weight: 700;
                    font-size: 6.5vmin;
                }
                h2 {
                    font-size: min(2.3rem, 4vmin);
                }
            }
            .feature {
                .feature {
                    &__content {
                        display: grid;
                        h2 {
                            font-size: min(2.5rem, 6vmin);
                        }
                        h3 {
                            font-size: min(2rem, 4vmin);
                        }
                        img {
                            width: 100%;
                        }
                        &:nth-child(2), &:nth-child(4) {
                            div {
                                order: 1;
                            }
                        }
                    }
                }
            }

            .faq {
                h2 {
                    font-size: min(2.7rem, 7vmin);
                }
            }

            .footer {
                &--links {
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    @media (width < 300px) {
        body {
            .faq {
                .accordion {
                    &__header{
                        h4 {
                            font-size: min(1.5rem, 6vmin);
                        }
                        img {
                            display: none;
                        }
                    }
                    &__content {
                        font-size: min(1.5rem, 6vmin);
                    }
                }
            }
        }
    }

}